<% include admin-header %>
<div class="row"  style="margin-top:2%">
	<div class="large-12 large-centered columns">

		<dl class="tabs vertical" data-tab>
			<dd class="active"><a href="#panel1">Total</a></dd>
			<dd><a href="#panel2">Admin Setting</a></dd>
		</dl>

		<div class="large-8 columns end">
			<div class="tabs-content white-bg">
				<div class="content active" id="panel1">
					<p>有本事你来干我啊？</p>
				</div>
				<div class="content" id="panel2">
					<p>干翻我啊。</p>
				</div>
			</div>
		</div>
	</div>
	
</div>
<% include footer %>