<% include admin-header %>
<div class="row"  style="margin-top:4%">
	<div class="large-10 small-centered columns">
		<a href="#" class="button big-button user-button">User</a>
		<a href="#" class="button big-button airport-button">Airport</a>
		<a href="#" class="button big-button plane-button">Plane</a>
	</div>
</div>
<div class="row"  style="margin-top:0%">
	<div class="large-10 small-centered columns">
		<a href="#" class="button big-button flight-button">Flight</a>
		<a href="#" class="button big-button seat-button">Seat</a>
		<a href="#" class="button big-button booking-button">Booking</a>
	</div>
</div>
<style type="text/css">
	.big-button {
		width:250px;
		height:250px;
	}
</style>
<% include footer %>