    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation({
      	abide: {
      		patterns: {
      			plane_id: /^[A-Z]{3}\d{3}$/,
            airport_code: /^[A-Z]{3}$/,
            non_empty: /^(?!\s*$).+/,
            flight_id: /^JA[0-9]{3}$/
      		}
      	}
      });
      $(document).ready(function() {
        if ($('#success_alert').css("display")) {
          $('#success_alert').delay(500).fadeOut('slow');
        }
        if ($('#error_alert').css("display")) {
          $('#error_alert').delay(500).fadeOut('slow');
        }
      });
    </script>
  </body>
</html>
