<% include header %>
<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/paysuccess.css">

<div class="row">
	<div class="small-12 large-9 large-centered columns">
		<h3 class="heading">Thank you for booking with JAir!</h3>
		<fieldset class="white-bg">
			<legend class="transparent-bg">Flight confirmed</legend>
			<div class="row">
				<div class="small-9 large-8 columns">
					<p>Hi <%=user.name%>,</p>
					<p>Your payment is <strong style="color: #00A388">successful!</strong></p>
					<p>We will shortly send the itinerary to your email: <br><strong style="color: #3498DB"><u><%= user.email %></u></strong></p>
				</div>
				<div class="small-3 large-3 columns logo">
					<img src="/img/jair.png">
				</div>
			</div>
			<fieldset class="grey-bg">
				<p>Your booking reference is XXXXX.</p>
			</fieldset>
		</fieldset>
	</div>
</div>

<% include footer %>