<% include header %>
<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<div class="row">
	<div class="large-9 large-centered columns">
		<h3 class="heading">Thank you for booking with JAir!</h3>
		<fieldset class="white-bg">
			<legend class="transparent-bg">Flight confirmed!</legend>
			<p>Hi DaiBi,</p>
			<p>Your payment is successful! ...</p>
			<p>Ticket will be sent to your email soon.</p>
			<fieldset class="grey-bg">
				<p>Your booking reference is XXXXX.</p>
			</fieldset>
		</fieldset>
	</div>
</div>

<style type="text/css">
.heading{
	text-align: center;
	font-family: 'Lato', sans-serif; 
	color: #046380; 
	padding: 20px 0px 0px 0px;
}
</style>

<% include footer %>