<% include header %>
<div class="row">
  <div class="large-9 large-centered columns">
  	<h3 class="text-center">Thank you for booking with JAir!</h3>
  	<fieldset class="white-bg">
	<p>Hi DaiBi,</p>
	<p>Your payment is successful! ...</p>
	<p>Ticket will be sent to your email soon.</p>
	<fieldset class="grey-bg">
		<p>Your booking reference is XXXXX.</p>
	</fieldset>
	</fieldset>
  </div>
</div>
<% include footer %>