<% include header %>
<div class="fullscreen background"  data-img-width="2560" data-img-height="1600">

	<div class="content-a">
		<div class="content-b">
			<div class="large-8 large-centered column">
				<p class="home-big-word">Hi, where is your next destination?</p>
				<form>
					<div class="row">
						<div class="small-4 columns">
							<label  style="color:white;">From
								<input type="text" id="search_from" placeholder="From..." />
							</label>
						</div>
						<div class="small-4 columns">
							<label  style="color:white;">To
								<input type="text" id="search_to" placeholder="Destination..." />
							</label>
						</div>
						<div class="small-4 columns">

							<label style="color:white;">Passenger(s)
								<select  id="search_passenger">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5+</option>
								</select>
							</label>
						</div>
					</div>
					<div class="row">
						<div class="large-6 columns">
							<label  style="color:white;">Depart
								<input type="text"  onfocus="(this.type='date')" onblur="(this.type='text')" id="return_date" placeholder="Depart" />
							</label>
						</div>
						<div class="large-6 columns">
							<label  style="color:white;">Return
								<input type="text"  onfocus="(this.type='date')" onblur="(this.type='text')" id="return_date" placeholder="Return" />
							</label>
						</div>
					</div>
					<div class="row">
						<div class="small-7 columns">
							<label style="color:white;">Trip Type</label>
							<input type="radio"  name="trip_type" value="Single" id="search_type_single"><label for="search_type_single" style="color:white;font-size:20px;">Single</label>
							<input type="radio" name="trip_type" value="Return" id="search_type_return" checked><label for="search_type_return" style="color:white;font-size:20px;">Return</label>
						</div>
						<div class="small-5 columns">
							<label style="color:white;">Class
								<select id="search_class">
									<option value="1">Economy</option>
									<option value="2">Business</option>
									<option value="3">Suite</option>
								</select>
							</label>
						</div>
					</div>
					<a href="#" class="button secondary">Find my flight</a>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="js/index/index.js"></script>
<script type="text/javascript" src="js/index/search.js"></script>
<% include footer %>