/* fullscreen setup */
@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('YanoneKaffeesatz-Regular.ttf');
}

html, body {
    overflow:hidden;
    /* give this to all tags from html to .fullscreen */
    height:100%;
}

/* background setup */
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%9 !important;
}

.fullscreen,
.content-a {
    width:100%;
    min-height:100%;
}
.not-fullscreen,
.not-fullscreen .content-a,
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
    height:100%;
    overflow:hidden;
}

/* content centering styles */
.content-a {
    display:table;
}
.content-b {
    display:table-cell;
    position:relative;
    vertical-align:middle;
    text-align:center;
}

.home-big-word {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 3rem;
        color: white;
}

@media only screen and (max-device-width : 1024px) {
    .home-big-word {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 2.2rem;
        color: white;
    }

    html, body {
        overflow:scroll;
        /* give this to all tags from html to .fullscreen */
        height:100%;
    }
}
 
.tt-dropdown-menu {
    color:black;
    min-width: 200px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

