/* fullscreen setup */
@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('YanoneKaffeesatz-Regular.ttf');
}

html, body {
    overflow:hidden;
    /* give this to all tags from html to .fullscreen */
    height:100%;
    background-image: url('../img/grey.png');
    background-repeat: repeat;
}

/* background setup */
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%9 !important;
}

.fullscreen,
.content-a {
    width:100%;
    min-height:100%;
}
.not-fullscreen,
.not-fullscreen .content-a,
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
    height:100%;
    overflow:hidden;
}

/* content centering styles */
.content-a {
    display:table;
}
.content-b {
    display:table-cell;
    position:relative;
    vertical-align:middle;
    text-align:center;
}

.home-big-word {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 4rem;
        color: white;
}

@media only screen and (max-device-width : 1024px) {
    .home-big-word {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 2.2rem;
        color: white;
    }

    html, body {
        overflow:scroll;
        /* give this to all tags from html to .fullscreen */
        height:100%;
    }
}

.bg {
    background-image: url('../img/grey.png');
    background-repeat: repeat;
}